# Ignore out directory
/out/

# Ignore Node.js module directory and generated output
/node_modules/
main.js

# Ignore Clojure build files
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.repl*
